* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font-family;
}

.content {
  min-width: 280px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  background: $linear-gradient-1;
  .container {
    width: 100%;
    background-image: url('./assets/images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex: 5;
    @include mobile {
      background: none;
    }
    .wrapper {
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      @include mobile {
        max-width: 100%;
      }
    }
  }
  .img-div {
    background: url('./assets/images/hero-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 4;
  }
}
